/*!
    1. Reset CSS
    2. Fonts
    3. Default styles 
    4. Header
    ----------------------------------
 */

/*  
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  color: unset;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style-type: none;
}
input {
  outline: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  
    ----------------------------------
    2. Fonts
    ----------------------------------
*/

@font-face {
  font-family: "Cirle";
  src: url("../fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitcrusher";
  src: url("../fonts/bitcrusher.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*  
    ----------------------------------
    3. Default styles 
    ----------------------------------
*/

:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff8a35;
  --color-black: #000000;
  --color-gray: #a7a7a7;
  --color-gray-middle: #d9d9d9;
  --color-gray-dark: #fff2;
  --color-black-lite: #3d3d3d;

  --background-black: #000000;
  --background-orange: #ff8a35;
  --background-white: #ffffff;

  /* Шрифты */
  --font-family-primary: "Cirle", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
  --font-family-header: "Bitcrusher", sans-serif;
}

body {
  font-family: var(--font-family-primary);
}

section {
  padding-top: 110px;
}

.nav {
  display: flex;
  gap: 20px;
}

.burger {
  gap: 5px;
  z-index: 2;
  border: none;
  display: none;
  cursor: pointer;
  background: none;
  flex-direction: column;
}

.burger span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: var(--background-white);
}

.burger .burger_active span {
  background-color: var(--background-black);
}

.burger_active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger_active span:nth-child(2) {
  opacity: 0;
}

.burger_active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.burger span {
  transition: all 0.5s ease;
}

.burger-nav {
  display: none;
  flex-direction: column;
  place-content: center;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  text-align: center;
  background-color: var(--background-white);
}

.burger-nav_active {
  display: flex;
}

.burger-nav__item {
  font-size: 48px;
  margin: 24px;
}

.burger-nav__item a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 0.12em;
  color: var(--color-white);
  text-transform: uppercase;
  transition: background 0.5s ease;
  font-family: var(--font-family-secondary);
  border: 1px solid var(--background-orange);
  background-color: var(--background-orange);
}

.button:hover {
  color: var(--background-orange);
  background-color: var(--background-white);
}

.main-background {
  background-size: cover;
  background-image: url("../images/body-bg.webp");
}

.work-hours {
  color: var(--color-white);
  text-align: right;
  filter: drop-shadow(0px 0px 6px black);
}

.arrow {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  place-items: center;
  transition: all 0.8s;
  color: var(--color-orange);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-white);
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
}

.arrow_prev {
  background-image: url("../images/arrow_1.svg");
  transform: scaleX(-1);
}

.arrow_next {
  background-image: url("../images/arrow_1.svg");
}

.g-recaptcha {
  margin-top: 20px;
}

/*  
    ----------------------------------
    4. Header
    ----------------------------------
*/

.header {
  margin: 0 auto;
  max-width: 1920px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../images/header-background.webp");
}

.header__container {
  margin: 0 auto;
  padding: 30px 10px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  gap: 60px;
  justify-content: space-between;
}

.header__item {
  font-size: 18px;
  color: var(--color-white);
  text-shadow: -3px 3px 9px rgba(0, 0, 0, 0.25);
}

.header__item a {
  text-decoration: none;
}

.header__contact {
  gap: 20px;
  display: flex;
  align-items: center;
}

.header__phone {
  font-size: 18px;
  color: var(--color-white);
}

.header__title {
  font-size: 84px;
  font-weight: 700;
  max-width: 700px;
  margin-top: 60px;
  letter-spacing: 0.01em;
  color: var(--color-white);
  font-family: var(--font-family-header);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 2px 0 2px rgba(0, 0, 0, 0.15);
}

.header__button {
  width: 380px;
  height: 55px;
  margin-top: 60px;
}

.header__bottom {
  margin-top: 280px;
}

.header__bottom-list {
  gap: 12px;
  justify-content: space-between;
}

.header__bottom-item {
  width: 260px;
  height: 150px;
  padding: 10px;
  margin-top: 56px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-white);
  box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__bottom-image {
  top: -40px;
  position: absolute;
}

.header__bottom-text {
  font-size: 18px;
  margin-top: 50px;
  line-height: 28px;
  color: var(--color-black);
  font-family: var(--font-family-primary);
}
