/*!
    1. Reset CSS
    2. Fonts
    3. Default styles 
    4. Header
    ----------------------------------
 */

/*  
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
h1,
img,
ul,
li,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/*  
    ----------------------------------
    2. Fonts
    ----------------------------------
*/

@font-face {
  font-family: "Cirle";
  src: url("../fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitcrusher";
  src: url("../fonts/bitcrusher.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*  
    ----------------------------------
    3. Default styles 
    ----------------------------------
*/

:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff8a35;
  --color-black: #000000;
  --color-gray: #a7a7a7;
  --color-gray-middle: #d9d9d9;
  --color-gray-dark: #fff2;
  --color-black-lite: #3d3d3d;

  --background-black: #000000;
  --background-orange: #ff8a35;
  --background-white: #ffffff;

  /* Шрифты */
  --font-family-primary: "Cirle", sans-serif;
  --font-family-header: "Bitcrusher", sans-serif;
}

body {
  font-family: var(--font-family-primary);
}

section {
  padding-top: 110px;
}

.nav {
  display: flex;
  gap: 20px;
}

.burger {
  gap: 5px;
  z-index: 2;
  border: none;
  display: none;
  cursor: pointer;
  background: none;
  flex-direction: column;
}

.burger span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: var(--background-white);
}

.burger .burger_active span {
  background-color: var(--background-black);
}

.burger_active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger_active span:nth-child(2) {
  opacity: 0;
}

.burger_active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.burger span {
  transition: all 0.5s ease;
}

.burger-nav {
  display: none;
  flex-direction: column;
  place-content: center;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  text-align: center;
  background-color: var(--background-white);
}

.burger-nav_active {
  display: flex;
}

.burger-nav__item {
  font-size: 48px;
  margin: 24px;
}

.burger-nav__item a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 0.12em;
  color: var(--color-white);
  text-transform: uppercase;
  transition: background 0.5s ease;
  font-family: var(--font-family-secondary);
  border: 1px solid var(--background-orange);
  background-color: var(--background-orange);
}

.button:hover {
  color: var(--background-orange);
  background-color: var(--background-white);
}

/*  
    ----------------------------------
    4. Header
    ----------------------------------
*/

.header {
  margin: 0 auto;
  max-width: 1920px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../images/header-background.webp");
}

.header__container {
  margin: 0 auto;
  padding: 30px 10px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  gap: 60px;
  justify-content: space-between;
}

.header__item {
  font-size: 18px;
  color: var(--color-white);
  text-shadow: -3px 3px 9px rgba(0, 0, 0, 0.25);
}

.header__item a {
  text-decoration: none;
}

.header__contact {
  gap: 20px;
  display: flex;
  align-items: center;
}

.header__phone {
  font-size: 18px;
  color: var(--color-white);
}

.header__title {
  font-size: 84px;
  font-weight: 700;
  max-width: 700px;
  margin-top: 60px;
  letter-spacing: 0.01em;
  color: var(--color-white);
  font-family: var(--font-family-header);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 2px 0 2px rgba(0, 0, 0, 0.15);
}

.header__button {
  width: 380px;
  height: 55px;
  margin-top: 60px;
}

.header__bottom {
  margin-top: 280px;
}

.header__bottom-list {
  gap: 12px;
  justify-content: space-between;
}

.header__bottom-item {
  width: 260px;
  height: 150px;
  padding: 10px;
  margin-top: 56px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-white);
  box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__bottom-image {
  top: -40px;
  position: absolute;
}

.header__bottom-text {
  font-size: 18px;
  margin-top: 50px;
  line-height: 28px;
  color: var(--color-black);
  font-family: var(--font-family-primary);
}
