/*!
    1. Reset CSS
    2. Fonts
    3. Default styles
    4. Header
    5. About
    6. Benefits

    ----------------------------------
 */

/*  
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style-type: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  
    ----------------------------------
    2. Fonts
    ----------------------------------
*/

@font-face {
  font-family: "Cirle";
  src: url("/fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitcrusher";
  src: url("./fonts/bitcrusher.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*  
    ----------------------------------
    3. Default styles 
    ----------------------------------
*/

:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff8a35;
  --color-black: #000000;

  --background-button-orange: #ff8a35;
  --background-white: #ffffff;

  /* Шрифты */
  --font-family-primary: "Circle", sans-serif;
  --font-family-secondary: "Bitcrusher" sans-serif;
}

body {
  font-family: var(--font-family-primary);
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.5s;
  letter-spacing: 0.12em;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--second-family);
  border: 1px solid var(--background-button-orange);
  background-color: var(--background-button-orange);
}

.button:hover {
  color: var(--background-button-orange);
  background-color: var(--background-white);
}

.work-hours {
  color: var(--color-white);
  text-align: right;
  filter: drop-shadow(0px 0px 6px black);
}

/*  
    ----------------------------------
    4. Header
    ----------------------------------
*/

.header {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("./images/header-background.webp");
}

.header__container {
  margin: 0 auto;
  padding: 30px 10px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header__nav {
}

.header__list {
  gap: 60px;
  justify-content: space-between;
}

.header__item {
  font-size: 18px;
  color: var(--color-white);
  text-shadow: -3px 3px 9px rgba(0, 0, 0, 0.25);
}

.header__contact {
  gap: 20px;
  display: flex;
  align-items: center;
}

.header__phone {
  font-size: 18px;
  color: var(--color-white);
}

.header__hero {
}

.header__title {
  font-size: 84px;
  font-weight: 700;
  max-width: 700px;
  margin-top: 60px;
  letter-spacing: 0.01em;
  color: var(--color-white);
  font-family: var(--font-family-secondary);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 2px 0 2px rgba(0, 0, 0, 0.15);
}

.header__button {
  width: 380px;
  height: 55px;
  margin-top: 60px;
}

.header__bottom {
  padding-top: 280px;
}

.header__bottom-list {
  justify-content: space-between;
}

.header__bottom-item {
  width: 260px;
  height: 150px;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-white);
  box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__bottom-image {
  top: -40px;
  position: absolute;
}

.header__bottom-text {
  font-size: 18px;
  margin-top: 50px;
  line-height: 28px;
  color: var(--color-black);
  font-family: var(--font-family-primary);
}

/*  
    ----------------------------------
    5. About
    ----------------------------------
*/

.about {
}

.about__container {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__description {
  max-width: 780px;
}

.about__title-description {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--second-family);
  padding-left: 68px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("./images/Mask-group.svg");
}

.about__text-description {
  font-size: 18px;
  margin-top: 30px;
  line-height: 170%;
  color: var(--color-black);
}

.about__gray-line {
  border: 1px solid rgba(0, 0, 0, 0.11);
  height: 210px;
}

.about__date {
}

.about__date-title {
  font-size: 15px;
  line-height: 85%;
  letter-spacing: 0.3em;
  font-family: var(--font-family-secondary);
}

.about__date-text {
  font-size: 70px;
  font-weight: 700;
  line-height: 85%;
  margin-top: 28px;
  font-family: var(--font-family-secondary);
}

.about__stat-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__stat-item {
  gap: 16px;
  display: flex;
  align-items: center;
}

.about__stat-title {
  font-weight: 800;
  font-size: 62px;
  background-clip: text;
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__stat-text {
  font-size: 18px;
  max-width: 180px;
}

/*  
    ----------------------------------
    6. Benefits
    ----------------------------------
*/

.benefits {
  background-image: url("./images/benefits.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 1254px;
  position: relative;
}

.benefits__title {
  margin: 0 auto;
  font-size: 38px;
  font-weight: 600;
  max-width: 850px;
  padding-top: 100px;
  text-align: center;
  font-family: var(--second-family);
}

.benefits__container {
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 70px;
  position: relative;
  z-index: 5;
}

.benefits__item {
  border-radius: 10px;
  padding: 15px;
  width: 270px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--background-white);
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.benefits__text {
  font-size: 20px;
}
