/*!
    1. Reset CSS
    2. Fonts
    3. Default styles
    4. Header
    5. About
    6. Benefits
    7. Features
    8. Images
    9. Questions
    10. Team


    *. Footer

    ----------------------------------
 */

/*  
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
  color: unset;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style-type: none;
}
input {
  outline: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  
    ----------------------------------
    2. Fonts
    ----------------------------------
*/

@font-face {
  font-family: "Cirle";
  src: url("/fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitcrusher";
  src: url("./fonts/bitcrusher.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*  
    ----------------------------------
    3. Default styles 
    ----------------------------------
*/

:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff8a35;
  --color-black: #000000;
  --color-gray: #a7a7a7;
  --color-gray-middle: #d9d9d9;
  --color-gray-dark: #fff2;
  --color-black-lite: #3d3d3d;

  --background-orange: #ff8a35;
  --background-white: #ffffff;

  /* Шрифты */
  --font-family-primary: "Circle", sans-serif;
  --font-family-secondary: "Bitcrusher" sans-serif;
}

body {
  font-family: var(--font-family-primary);
}

section {
  padding-top: 110px;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.5s;
  letter-spacing: 0.12em;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--second-family);
  border: 1px solid var(--background-orange);
  background-color: var(--background-orange);
}

.button:hover {
  color: var(--background-orange);
  background-color: var(--background-white);
}

.work-hours {
  color: var(--color-white);
  text-align: right;
  filter: drop-shadow(0px 0px 6px black);
}

.g-recaptcha {
  margin-top: 20px;
}

/*  
    ----------------------------------
    4. Header
    ----------------------------------
*/

.header {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("./images/header-background.webp");
}

.header__container {
  margin: 0 auto;
  padding: 30px 10px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header__nav {
}

.header__list {
  gap: 60px;
  justify-content: space-between;
}

.header__item {
  font-size: 18px;
  color: var(--color-white);
  text-shadow: -3px 3px 9px rgba(0, 0, 0, 0.25);
}

.header__contact {
  gap: 20px;
  display: flex;
  align-items: center;
}

.header__phone {
  font-size: 18px;
  color: var(--color-white);
}

.header__hero {
}

.header__title {
  font-size: 84px;
  font-weight: 700;
  max-width: 700px;
  margin-top: 60px;
  letter-spacing: 0.01em;
  color: var(--color-white);
  font-family: var(--font-family-secondary);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 2px 0 2px rgba(0, 0, 0, 0.15);
}

.header__button {
  width: 380px;
  height: 55px;
  margin-top: 60px;
}

.header__bottom {
  margin-top: 280px;
}

.header__bottom-list {
  justify-content: space-between;
}

.header__bottom-item {
  width: 260px;
  height: 150px;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-white);
  box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__bottom-image {
  top: -40px;
  position: absolute;
}

.header__bottom-text {
  font-size: 18px;
  margin-top: 50px;
  line-height: 28px;
  color: var(--color-black);
  font-family: var(--font-family-primary);
}

/*  
    ----------------------------------
    5. About
    ----------------------------------
*/

.about {
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__description {
  max-width: 780px;
}

.about__title-description {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--second-family);
  padding-left: 68px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("./images/Mask-group.svg");
}

.about__text-description {
  font-size: 18px;
  margin-top: 30px;
  line-height: 170%;
  color: var(--color-black);
}

.about__gray-line {
  border: 1px solid rgba(0, 0, 0, 0.11);
  height: 210px;
}

.about__date {
}

.about__date-title {
  font-size: 15px;
  line-height: 85%;
  letter-spacing: 0.3em;
  font-family: var(--font-family-secondary);
}

.about__date-text {
  font-size: 70px;
  font-weight: 700;
  line-height: 85%;
  margin-top: 28px;
  font-family: var(--font-family-secondary);
}

.about__stat-list {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__stat-item {
  gap: 16px;
  display: flex;
  align-items: center;
}

.about__stat-title {
  font-weight: 400;
  font-size: 62px;
  background-clip: text;
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__stat-text {
  font-size: 18px;
  max-width: 180px;
  text-transform: uppercase;
}

/*  
    ----------------------------------
    6. Benefits
    ----------------------------------
*/

.benefits {
  background-image: url("./images/benefits.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 1254px;
  position: relative;
}

.benefits__container {
}

.benefits__title {
  font-weight: 600;
  font-size: 38px;
  max-width: 848px;
  margin: 0 auto;
}

.benefits__container {
  margin-top: 70px;
}

.benefits__list {
  row-gap: 120px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, 1fr);
}

.benefits__item {
  border-radius: 10px;
  padding: 15px;
  width: 280px;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--background-white);
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.benefits__item_margin {
  margin-left: 100px;
}

.benefits__item_center {
  grid-column: 1 / 3;
  margin: 0 auto;
}

.benefits__text {
  font-size: 20px;
}

/*  
    ----------------------------------
    6. Features
    ----------------------------------
*/

.features {
}

.features__container {
}

.features__subtitle {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: var(--color-gray);
  font-family: var(--font-family-secondary);
}

.features__title {
  margin-top: 20px;
}

.features__list {
  gap: 20px;
  display: grid;
  margin-top: 62px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.features__item {
  border-radius: 25px;
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.features__item_big {
  grid-column: 2 / 4;
}

.features__image {
}

.features__text {
  max-width: 240px;
  font-family: var(--second-family);
  font-size: 20px;
  margin-top: -44px;
}

.features__button {
  width: 380px;
  height: 55px;
  margin: 62px auto 0;
  display: block;
}

/*  
    ----------------------------------
    8. Images
    ----------------------------------
*/

.images {
}

.images__title {
}

.slider-container {
  display: flex;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slider__image {
}

/*  
    ----------------------------------
    9. Reviews
    ----------------------------------
*/

.reviews {
}

.reviews__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__controls {
  max-width: 280px;
}

.reviews__title {
  text-align: left;
  font-weight: 700;
  font-size: 40px;
}

.reviews__navigation {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider__nav-btn {
  margin-top: 48px;
}

.reviews__button {
  border-radius: 10px;
  width: 280px;
  height: 55px;
  margin-top: 210px;
}

.reviews__slider {
  border-radius: 10px;
  padding: 16px;
  width: 380px;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--background-white);
  position: relative;
}

.reviews__star {
  position: absolute;
  right: 16px;
  top: -4px;
  border-radius: 5px 5px 15px 15px;
  width: 48px;
  height: 56px;
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);

  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__rating {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
  font-family: var(--font-family-secondary);
}

.reviews__name {
  font-size: 24px;
  font-weight: 600;
}

.reviews__date {
  font-size: 16px;
  color: var(--color-gray);
}

.reviews__text {
  font-size: 18px;
  margin-top: 16px;
  overflow-y: auto;
}

.reviews__list {
  gap: 8px;
  margin-top: 16px;
}

/*  
    ----------------------------------
    *. Routes
    ----------------------------------
*/

.routes {
}

.routes__container {
}

.routes__title {
}

.routes__content {
  gap: 18px;
  display: flex;
  height: 640px;
  padding: 16px;
  margin-top: 62px;
  border-radius: 10px;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
}

.routes__image {
}

.route {
}

.route__info {
  gap: 8px;
}

.route__info-item {
  padding: 4px 12px;
  display: flex;
  gap: 14px;
  flex-wrap: nowrap;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 28px;
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);
}

.route__info-text {
  color: var(--color-white);
}

.route__title {
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  margin-top: 28px;
}

.route__difficulty {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.route__difficulty-text {
  font-family: var(--second-family);
  font-weight: 500;
  margin-right: 10px;
}

.route__difficulty-list {
  gap: 6px;
}

.route__difficulty-item {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #f5f5f5;
}

.route__difficulty-item_active {
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);
}

.route__price {
  
}

/*  
    ----------------------------------
    *. Questions
    ----------------------------------
*/

.questions {
}

.questions__container {
}

.questions__title {
  max-width: 485px;
  margin: 0 auto;
}

.questions__content {
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__list {
  max-width: 580px;
}

.questions__item {
  border-radius: 10px;
  padding: 26px 20px;
  margin-top: 16px;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
  width: 580px;
  background: var(--background-white);
  cursor: pointer;
}

.questions__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__question {
  font-size: 18px;
  font-weight: 600;
  max-width: 480px;
}

.questions__icon {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 26px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--background-orange);
}

.questions__answer {
  display: none;
  font-size: 20px;
  color: var(--color-black-lite);
}

.questions__image {
}

/*  
    ----------------------------------
    8. Team
    ----------------------------------
*/

.team {
}

.team__container {
}

.team__title {
}

.team__list {
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.team__item {
  width: 280px;
  height: 360px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.team__image {
  transition: all 0.3s ease;
}

.team__item:hover .team__image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.team__text {
}

.team__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 170%;
  color: var(--color-white);
  font-family: var(--font-family-secondary);
  position: absolute;
  bottom: 50px;
  left: 26px;
}

/*  
    ----------------------------------
    *. Booking
    ----------------------------------
*/

.booking {
  padding-bottom: 110px;
}

.booking {
}

.booking__container {
  display: flex;
  align-items: center;
}

.booking__form {
  border-radius: 35px;
  max-width: 550px;
  margin-left: -80px;
  padding: 40px 45px;
  box-shadow: -1px 3px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--background-white);
}

.booking__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 122%;
  text-align: left;
}

.booking__text {
  font-family: var(--font-family-secondary);
  font-size: 16px;
  line-height: 171%;
  margin-top: 20px;
}

.booking__input {
  height: 55px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--background-white);
  border: 1px solid var(--color-gray-middle);
  width: 90%;
  padding-left: 20px;
}

.booking__button {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  height: 55px;
  width: calc(100% - 25px);
}

.booking__consent {
  margin-top: 24px;
  gap: 12px;
  display: flex;
  align-items: flex-start;
}

.booking__checkbox {
}

.booking__consent-label {
  font-size: 16px;
  color: var(--color-gray);
  cursor: pointer;
}

/*  
    ----------------------------------
    *. Footer
    ----------------------------------
*/

.footer {
  background-color: var(--background-orange);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 34px 0;
}

.footer__logo {
}

.footer__list {
  gap: 20px;
  display: grid;
}

.footer__item {
  font-size: 16px;
  color: var(--color-white);
}

.footer__item_title {
  line-height: 122%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__item_icon {
  gap: 12px;
  display: flex;
  align-items: center;
}

.social-network {
}

.social-network__title {
  font-size: 16px;
  line-height: 122%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-white);
}

.social-network__list {
  gap: 10px;
  margin-top: 18px;
  display: flex;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-gray);
}
