/*!
    1. Reset CSS
    2. Fonts
    3. Default styles
    4. Header
    5. About
    6. Benefits
    7. Features
    8. Reviews
    9. Routes
    10. Questions
    11. Team
    12. Booking
    13. Footer
    14. Media
    ----------------------------------
 */

/*  
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  color: unset;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style-type: none;
}
input {
  outline: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  
    ----------------------------------
    2. Fonts
    ----------------------------------
*/

@font-face {
  font-family: "Cirle";
  src: url("/fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitcrusher";
  src: url("./fonts/bitcrusher.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*  
    ----------------------------------
    3. Default styles 
    ----------------------------------
*/

:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff8a35;
  --color-black: #000000;
  --color-gray: #a7a7a7;
  --color-gray-middle: #d9d9d9;
  --color-gray-dark: #fff2;
  --color-black-lite: #3d3d3d;

  --background-black: #000000;
  --background-orange: #ff8a35;
  --background-white: #ffffff;

  /* Шрифты */
  --font-family-primary: "Cirle", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
  --font-family-header: "Bitcrusher", sans-serif;
}

body {
  font-family: var(--font-family-primary);
}

section {
  padding-top: 110px;
}

.nav {
  display: flex;
  gap: 20px;
}

.burger {
  gap: 5px;
  z-index: 2;
  border: none;
  display: none;
  cursor: pointer;
  background: none;
  flex-direction: column;
}

.burger span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: var(--background-white);
}

.burger .burger_active span {
  background-color: var(--background-black);
}

.burger_active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger_active span:nth-child(2) {
  opacity: 0;
}

.burger_active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.burger span {
  transition: all 0.5s ease;
}

.burger-nav {
  display: none;
  flex-direction: column;
  place-content: center;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  text-align: center;
  background-color: var(--background-white);
}

.burger-nav_active {
  display: flex;
}

.burger-nav__item {
  font-size: 48px;
  margin: 24px;
}

.burger-nav__item a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 0.12em;
  color: var(--color-white);
  text-transform: uppercase;
  transition: background 0.5s ease;
  font-family: var(--font-family-secondary);
  border: 1px solid var(--background-orange);
  background-color: var(--background-orange);
}

.button:hover {
  color: var(--background-orange);
  background-color: var(--background-white);
}

.main-background {
  background-size: cover;
  background-image: url("./images/body-bg.webp");
}

.work-hours {
  color: var(--color-white);
  text-align: right;
  filter: drop-shadow(0px 0px 6px black);
}

.arrow {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  place-items: center;
  transition: all 0.8s;
  color: var(--color-orange);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-white);
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
}

.arrow_prev {
  background-image: url("./images/arrow_1.svg");
  transform: scaleX(-1);
}

.arrow_next {
  background-image: url("./images/arrow_1.svg");
}

.g-recaptcha {
  margin-top: 20px;
}

/*  
    ----------------------------------
    4. Header
    ----------------------------------
*/

.header {
  margin: 0 auto;
  max-width: 1920px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("./images/header-background.webp");
}

.header__container {
  margin: 0 auto;
  padding: 30px 10px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  gap: 60px;
  justify-content: space-between;
}

.header__item {
  font-size: 18px;
  color: var(--color-white);
  text-shadow: -3px 3px 9px rgba(0, 0, 0, 0.25);
}

.header__item a {
  text-decoration: none;
}

.header__contact {
  gap: 20px;
  display: flex;
  align-items: center;
}

.header__phone {
  font-size: 18px;
  color: var(--color-white);
}

.header__title {
  font-size: 84px;
  font-weight: 700;
  max-width: 700px;
  margin-top: 60px;
  letter-spacing: 0.01em;
  color: var(--color-white);
  font-family: var(--font-family-header);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 2px 0 2px rgba(0, 0, 0, 0.15);
}

.header__button {
  width: 380px;
  height: 55px;
  margin-top: 60px;
}

.header__bottom {
  margin-top: 280px;
}

.header__bottom-list {
  gap: 12px;
  justify-content: space-between;
}

.header__bottom-item {
  width: 260px;
  height: 150px;
  padding: 10px;
  margin-top: 56px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-white);
  box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__bottom-image {
  top: -40px;
  position: absolute;
}

.header__bottom-text {
  font-size: 18px;
  margin-top: 50px;
  line-height: 28px;
  color: var(--color-black);
  font-family: var(--font-family-primary);
}

/*  
    ----------------------------------
    5. About
    ----------------------------------
*/

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__description {
  max-width: 780px;
}

.about__title {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--font-family-secondary);
  padding-left: 68px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("./images/Mask-group.svg");
}

.about__text-description {
  font-size: 18px;
  margin-top: 30px;
  line-height: 170%;
  color: var(--color-black);
}

.about__gray-line {
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  height: 210px;
}

.about__date-title {
  font-size: 15px;
  line-height: 85%;
  letter-spacing: 0.3em;
  font-family: var(--font-family-secondary);
}

.about__date-text {
  font-size: 70px;
  font-weight: 700;
  line-height: 85%;
  margin-top: 28px;
  font-family: var(--font-family-secondary);
}

.about__stat-list {
  gap: 24px;
  margin-top: 50px;
  justify-content: space-between;
}

.about__stat-item {
  gap: 16px;
  display: flex;
  padding: 24px 0;
  align-items: center;
}

.about__stat-title {
  font-weight: 400;
  font-size: 62px;
  background-clip: text;
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__stat-text {
  font-size: 18px;
  max-width: 180px;
  text-transform: uppercase;
}

/*  
    ----------------------------------
    6. Benefits
    ----------------------------------
*/

.benefits {
  margin: 0 auto;
  height: 1254px;
  max-width: 1920px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/benefits.webp");
}

.benefits__title {
  font-weight: 600;
  font-size: 38px;
  max-width: 848px;
  margin: 0 auto;
}

.benefits__container {
  margin-top: 70px;
}

.benefits__list {
  row-gap: 120px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, 1fr);
}

.benefits__item {
  border-radius: 10px;
  padding: 15px;
  width: 280px;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--background-white);
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.benefits__item_margin {
  margin-left: 100px;
}

.benefits__item_center {
  grid-column: 1 / 3;
  margin: 0 auto;
}

.benefits__text {
  font-size: 20px;
}

/*  
    ----------------------------------
    7. Features
    ----------------------------------
*/

.features__subtitle {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: var(--color-gray);
  font-family: var(--font-family-secondary);
}

.features__title {
  margin-top: 20px;
}

.features__list {
  gap: 20px;
  display: grid;
  margin-top: 62px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.features__item {
  display: grid;
  min-width: 280px;
  border-radius: 25px;
  place-items: center;
  text-align: center;
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.features__item_big {
  grid-column: 2 / 4;
}

.features__text {
  max-width: 240px;
  font-family: var(--font-family-secondary);
  font-size: 20px;
  margin-top: -44px;
}

.features__button {
  width: 380px;
  height: 55px;
  margin: 62px auto 0;
  display: block;
}

/*  
    ----------------------------------
    8. Reviews
    ----------------------------------
*/

.reviews__container {
  max-width: 100%;
  margin-left: calc((100% - 1180px) / 2);
  padding: 0 10px;
  position: relative;
  display: flex;
  gap: 135px;
  align-items: center;
}

.reviews__controls {
  max-width: 280px;
}

.reviews__title {
  text-align: left;
  font-weight: 700;
  font-size: 40px;
}

.reviews__navigation {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider__nav-btn {
  margin-top: 48px;
}

.reviews__button {
  border-radius: 10px;
  width: 280px;
  height: 55px;
  margin-top: 210px;
}

.reviews__slider-container {
  overflow: hidden;
}

.reviews__slider {
  gap: 24px;
  display: flex;
  transition: transform 1s ease;
}

.reviews__slide {
  padding: 16px;
  min-width: 380px;
  width: 380px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-white);
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
}

.reviews__star {
  top: -4px;
  right: 16px;
  width: 48px;
  height: 56px;
  position: absolute;
  border-radius: 5px 5px 15px 15px;
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);

  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__rating {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
  font-family: var(--font-family-secondary);
}

.reviews__name {
  font-size: 24px;
  font-weight: 600;
}

.reviews__date {
  font-size: 16px;
  margin-top: 6px;
  color: var(--color-gray);
}

.reviews__text {
  height: 300px;
  font-size: 18px;
  margin-top: 16px;
  overflow-y: auto;
  line-height: 20px;
}

.reviews__list {
  gap: 8px;
  margin-top: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

/*  
    ----------------------------------
    8. Photos
    ----------------------------------
*/

.photos {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.texture-left {
  top: 30px;
  left: 360px;
  position: absolute;
}

.texture-right {
  right: 0;
  top: -20px;
  position: absolute;
}

.photos__container {
  margin-top: 62px;
  position: relative;
}

.photos__slider {
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.slide {
  width: 270px;
  height: 350px;
  position: absolute;
}

.photos__image {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
}

.slide-active {
  transform: scale(1.5);
  z-index: 2;
}

.slide-next {
  transform: translateX(380px);
  z-index: 1;
}

.slide-prev {
  transform: translateX(-380px);
  z-index: 1;
}

.photos__prev {
  position: absolute;
  top: 50%;
  left: -60px;
}

.photos__next {
  position: absolute;
  top: 50%;
  right: -60px;
}

/*  
    ----------------------------------
    9. Routes
    ----------------------------------
*/

.routes__container {
  margin-top: 62px;
  position: relative;
}

.route__image_adapt {
  display: none;
}

.routes__viewport {
  overflow: hidden;
  height: 640px;
  border-radius: 10px;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
}

.routes__slider {
  height: 100%;
  display: flex;
  transition: transform 1s ease;
}

.routes__slide {
  gap: 16px;
  display: flex;
  padding: 16px;
  min-width: 100%;
  background-color: var(--background-white);
}

.route__info {
  gap: 8px;
  max-width: 600px;
}

.route__info-item {
  gap: 14px;
  display: flex;
  font-size: 16px;
  padding: 4px 12px;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
  border-radius: 28px;
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);
}

.route__info-text {
  color: var(--color-white);
}

.route__title {
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  margin-top: 28px;
}

.route__difficulty {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.route__difficulty-text {
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  font-family: var(--font-family-secondary);
}

.route__difficulty-list {
  gap: 6px;
}

.route__difficulty-item {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #f5f5f5;
}

.route__difficulty-item_active {
  background: linear-gradient(143deg, #ffb987 0%, #ff8a35 51.5%, #ff8a35 100%);
}

.route__price {
  margin-top: 10px;
}

.route__price-cost {
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
  font-family: var(--font-family-secondary);
}

.route__price-number {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-orange);
}

.route__description {
  height: 100%;
  font-size: 18px;
  margin-top: 28px;
  max-height: 200px;
  line-height: 122%;
  overflow-y: scroll;
  color: var(--color-black-lite);
  font-family: var(--font-family-secondary);
}

.route__places-list {
  gap: 10px;
  margin: 36px 0;
  max-height: 180px;
  overflow-y: scroll;
  padding: 10px 0;
}

.route__places-item {
  gap: 12px;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 28px;
  justify-content: center;
  box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.1);
}

.route__place {
  font-size: 14px;
  font-weight: 500;
  line-height: 170%;
  text-transform: uppercase;
  color: var(--color-orange);
  font-family: var(--font-family-secondary);
}

.routes__prev {
  position: absolute;
  top: 50%;
  left: -60px;
}

.routes__next {
  position: absolute;
  top: 50%;
  right: -60px;
}

.routes__button-block {
  margin-top: 35px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routes__button {
  width: 380px;
  height: 55px;
}

/*  
    ----------------------------------
    10. Questions
    ----------------------------------
*/

.questions__title {
  max-width: 485px;
  margin: 0 auto;
}

.questions__content {
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__list {
  max-width: 580px;
}

.questions__item {
  width: 580px;
  cursor: pointer;
  margin-top: 16px;
  padding: 26px 20px;
  border-radius: 10px;
  background-color: var(--background-white);
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.1);
}

.questions__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__question {
  font-size: 18px;
  font-weight: 600;
  max-width: 480px;
}

.questions__icon {
  height: 40px;
  display: grid;
  min-width: 40px;
  font-size: 26px;
  font-weight: bold;
  border-radius: 50%;
  place-items: center;
  color: var(--color-white);
  background-color: var(--background-orange);
}

.questions__answer {
  opacity: 0;
  max-height: 0;
  font-size: 20px;
  overflow: hidden;
  color: var(--color-black-lite);
  transition: max-height 1s ease-in, opacity 1s ease-in;
}

.questions__item_active .questions__answer {
  padding-top: 20px;
  opacity: 1;
  max-height: 500px;
}

/*  
    ----------------------------------
    11. Team
    ----------------------------------
*/

.team__list {
  margin-top: 62px;
  gap: 14px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.team__item {
  height: 360px;
  cursor: pointer;
  min-width: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-white);
}

.team__image {
  object-fit: cover;
  transition: all 0.5s ease;
}

.team__item:hover {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.team__item:hover {
  padding: 16px;
}

.team__item:hover .team__name {
  display: none;
}

.team__item:hover .team__text {
  display: block;
}

.team__item:hover .team__image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.team__text {
  margin-top: 16px;
  line-height: 24px;
  display: none;
}

.team__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 170%;
  color: var(--color-white);
  font-family: var(--font-family-secondary);
  position: absolute;
  bottom: 50px;
  left: 26px;
}

/*  
    ----------------------------------
    12. Booking
    ----------------------------------
*/

.booking {
  padding-bottom: 110px;
}

.booking__container {
  display: flex;
  align-items: center;
}

.booking__form {
  border-radius: 35px;
  max-width: 550px;
  margin-left: -80px;
  padding: 32px;
  box-shadow: -1px 3px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--background-white);
}

.booking__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 122%;
  text-align: left;
}

.booking__text {
  font-family: var(--font-family-secondary);
  font-size: 16px;
  line-height: 171%;
  margin-top: 20px;
}

.booking__input {
  height: 55px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--background-white);
  border: 1px solid var(--color-gray-middle);
  width: 90%;
  padding-left: 20px;
}

.booking__button {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  height: 55px;
  width: calc(100% - 25px);
}

.booking__consent {
  gap: 12px;
  display: flex;
  margin-top: 24px;
  align-items: flex-start;
}

.booking__checkbox {
  accent-color: var(--background-white);
  cursor: pointer;
}

.booking__consent-label {
  cursor: pointer;
  font-size: 16px;
  color: var(--color-gray);
}

/*  
    ----------------------------------
    13. Footer
    ----------------------------------
*/

.footer {
  background-color: var(--background-orange);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 34px 10px;
}

.footer__list {
  gap: 20px;
  display: grid;
}

.footer__item {
  font-size: 16px;
  color: var(--color-white);
}

.footer__item a {
  text-decoration: none;
}

.footer__item_title {
  line-height: 122%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__item_icon {
  gap: 12px;
  display: flex;
  align-items: center;
}

.social-network__title {
  font-size: 16px;
  line-height: 122%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-white);
}

.social-network__list {
  gap: 10px;
  margin-top: 18px;
  display: flex;
}

.footer__bottom {
  display: flex;
  color: #ffe2cc;
  justify-content: space-between;
  border-top: 1px solid #fff2;
}

/*  
    ----------------------------------
    14. Media
    ----------------------------------
*/

@media (max-width: 1366px) {
  .texture-left {
    left: 0;
  }

  .reviews__container {
    display: block;
    margin: 0 auto;
  }

  .reviews__title {
    text-align: center;
  }

  .reviews__navigation {
    gap: 48px;
    justify-content: center;
  }

  .reviews__button {
    display: block;
    margin: 24px auto;
  }

  .reviews__controls {
    max-width: none;
  }

  .routes__viewport {
    height: auto;
  }

  .route__image {
    display: none;
  }

  .route__description {
    height: auto;
    max-height: none;
  }

  .route__image_adapt {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
  }

  .route__places-list {
    max-height: none;
    margin: 24px 0 0;
  }

  .photos__prev {
    top: 100%;
    left: 40px;
    margin-top: 41px;
  }

  .photos__next {
    top: 100%;
    right: 40px;
    margin-top: 41px;
  }

  .routes__prev {
    top: 105%;
    left: 40px;
    margin-top: 41px;
  }

  .routes__next {
    top: 105%;
    right: 40px;
    margin-top: 41px;
  }

  .footer__container {
    gap: 48px;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  .header__bottom-list {
    justify-content: center;
  }

  .about__container {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .about__gray-line {
    height: 0;
    width: 100%;
    margin: 24px 0 36px;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }

  .about__stat-list {
    justify-content: center;
  }

  .features__list {
    display: flex;
    overflow-x: scroll;
  }

  .features__item_big {
    min-width: 580px;
  }

  .team__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .questions__list {
    max-width: 100%;
  }

  .questions__item {
    width: 100%;
  }

  .questions__image {
    display: none;
  }

  .booking__image {
    display: none;
  }

  .booking__form {
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  .work-hours {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__contact {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media (max-width: 786px) {
  .header__title {
    font-size: 62px;
  }

  .title {
    font-size: 30px;
  }

  .header__top {
    margin-top: 48px;
  }

  .header__bottom {
    margin-top: 48px;
  }

  .header__button {
    max-width: 100%;
  }

  .benefits__list {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
  }

  .benefits__item_margin {
    margin-left: 0;
  }

  .benefits__item_center {
    grid-column: 1 / 3;
    margin: 0 auto;
  }

  .slide-active {
    transform: scale(1.1);
  }

  .slide-prev,
  .slide-next {
    display: none;
  }

  .footer__container {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__logo {
    display: block;
    margin: 0 auto;
  }

  .footer__list {
    margin: 0 auto;
  }

  .social-network__list {
    justify-content: center;
  }

  .features__button {
    width: 100%;
  }
}
